#app{
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
  padding: 10px;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}